<app-adminheader></app-adminheader>
<div class="container-fluid p-0 overflow-x-hidden">
    <div class="row g-0">
        <div class="col-md-2">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-md-10">
             <div class="w-100 bg-warning p-3">
                <h1 class="fs-4">
                    <i class="fa-solid fa-bowl-rice me-2"></i>
                    Requests
                </h1>
            </div>

            <h3 class="text-center my-3">All Testimonial Request</h3>

            <div class="d-flex justify-content-between px-4 mt-4">
                <button class="btn btn-primary">
                     Add Recipe
                    <i class="fa-solid fa-plus ms-2"></i>
                </button>
                <input type="text" class="form-control w-25" placeholder="name" />
            </div>

            <div class="table-responsive px-4 my-5">
                @if(allTestimonials.length){
                    <table class="table table-bordered">
                    <thead>
                        <th class="bg-success text-light">Sl</th>
                        <th class="bg-success text-light">User Name</th>
                        <th class="bg-success text-light">User Email</th>
                        <th class="bg-success text-light">Message</th>
                        <th class="bg-success text-light">Status</th>
                    </thead>
                <tbody>
                    @for(user of allTestimonials; track $index){
                        <tr>
                            <td>{{ $index +1 }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.message }}</td>
                            <td>
                                @if(user.status == 'pending'){
                                    <button type="button" (click)="statusChange(user._id,'approved')" class="btn btn-success me-2">Approve</button>
                                    <button type="button" (click)="statusChange(user._id,'rejected')" class="btn btn-danger">Reject</button>
                                }@else if (user.status == 'rejected') {
                                    <h4 class="text-danger">Rejected</h4>
                                }
                                @else if (user.status == 'approved') {
                                    <h4 class="text-success">Approved</h4>
                                }
                                @else {
                                    <h4 class="text-danger">Loading...</h4>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                </table>
                }
                @else{
                    <h3 class="text-danger fs-3">No Downloads...</h3>
                }
            </div>

        </div>
    </div>
</div>
