<footer class="bg-success">
    <div class="container">
        <div class="row pt-4">
            <div class="col-12 col-md-6">
                <a routerLink="/">
                    <h3  class="text-white fs-3">
                        <i class="fa-solid fa-kitchen-set me-2"></i>
                        CookPedia
                    </h3>
                </a>
                <div class="col-8 text-justify">
                    <p class="text-white fs-6 mt-2">Discover 100+ recipes in your hand with the best reciper. Help You to
                        find the easiest way to cook.
                    </p>
                </div>

            </div>
            <div class="col-12 col-md-6">
               <h4 class="text-white">Sign up For our news letter</h4>

               <div class="d-flex mt-3">
                <input type="text" placeholder="Email id" class="form-control">
                <button class="btn-warning ms-2 rounded rounded-1 btn-outline-transparent"> Subscribe</button>
               </div>

               <div id="footerlinks" class="row mt-3">
                 <div class="col-12 col-md-12 col-lg-4">
                    <ul class="list-unstyled">
                        <h6 class="text-white">Menu</h6>
                        <li><a routerLink="/home" class="text-white text-capitalize">Home</a></li>
                        <li><a routerLink="/about" class="text-white text-capitalize">about</a></li>
                        <li><a routerLink="/contact" class="text-white text-capitalize">contact</a></li>
                        <li><a routerLink="/all-recipe" class="text-white text-capitalize">recipes</a></li>
                    </ul>
                 </div>
                 <div class="col-12 col-md-12 col-lg-4">
                    <ul class="list-unstyled">
                        <h6 class="text-white text-capitalize">Help</h6>
                        <li><a routerLink="/" class="text-white text-capitalize">Privacy & policy</a></li>
                        <li><a routerLink="/" class="text-white text-capitalize">Terms of use</a></li>
                    </ul>
                 </div>
                 <div class="col-12 col-md-12 col-lg-4">
                    <ul class="list-unstyled">
                        <h6 class="text-white text-capitalize">Socials</h6>
                        <li><a routerLink="/" class="text-white text-capitalize">facebook</a></li>
                        <li><a routerLink="/" class="text-white text-capitalize">instagram</a></li>
                        <li><a routerLink="/" class="text-white text-capitalize">twitter</a></li>
                        <li><a routerLink="/" class="text-white text-capitalize">youtube</a></li>
                    </ul>
                 </div>
               </div>
            </div>
        </div>
    </div>
</footer>
