<app-adminheader></app-adminheader>
<div class="container-fluid p-0 overflow-x-hidden">
    <div class="row g-0">
        <div class="col-md-2">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-md-10">
             <div class="w-100 bg-warning p-3">
                <h1 class="fs-4">
                    <i class="fa-solid fa-bowl-rice me-2"></i>
                    Downloads
                </h1>
            </div>

            <h3 class="text-center my-3">Download List</h3>

            <div class="d-flex justify-content-between px-4 mt-4">
                <button class="btn btn-primary">
                     Add Recipe
                    <i class="fa-solid fa-plus ms-2"></i>
                </button>
                <input type="text" class="form-control w-25" placeholder="name" />
            </div>

            <div class="table-responsive px-4 my-5">
                <table class="table table-bordered">
                    <thead>
                        <th class="bg-success text-light">Sl</th>
                        <th class="bg-success text-light">Recipe Id</th>
                        <th class="bg-success text-light">Recipe Name</th>
                        <th class="bg-success text-light">Recipe Cuisine</th>
                        <th class="bg-success text-light">Count</th>
                    </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>dummy</td>
                        <td>dummy</td>
                        <td>dummy</td>
                        <td>dummy</td>
                    </tr>
                </tbody>
                </table>

                <h3 class="text-danger fs-3">No Downloads...</h3>
            </div>

        </div>
    </div>
</div>
