<app-adminheader></app-adminheader>
<div class="container-fluid p-0 overflow-x-hidden">
    <div class="row g-0">
        <div class="col-md-2">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-md-10">
             <div class="w-100 bg-warning p-3">
                <h1 class="fs-4">
                    <i class="fa-solid fa-bowl-rice me-2"></i>
                    Users
                </h1>
            </div>

            <h3 class="text-center my-3">Users List</h3>

            <div class="d-flex justify-content-between px-4 mt-4">
                <button class="btn btn-primary">
                     Add Recipe
                    <i class="fa-solid fa-plus ms-2"></i>
                </button>
                <input type="text" class="form-control w-25" placeholder="name" />
            </div>

            <div class="table-responsive px-4 my-5">
                @if(allUsers.length){
                    <table class="table table-bordered">
                    <thead>
                        <th class="bg-success">Sl: No</th>
                        <th class="bg-success">UserName</th>
                        <th class="bg-success">Email</th>

                    </thead>
                    <tbody>
                        @for(user of allUsers; track $index){
                         @if(user.role =="user"){
                            <tr>
                                <td>{{ $index+1 }}</td>
                                <td>{{ user.username }}</td>
                                <td>
                                    {{ user.email }}
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                    </table>
                }@else{
                    <h3 class="text-danger fs-3">No Users...</h3>
                }
            </div>

        </div>
    </div>
</div>
