<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="row w-100">
        <div class="col-3">

        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <h1 class="fs-1"> Login </h1>
            <p>More than 100+ Recipes around the world</p>

            <form [formGroup]="loginForm" action="" (ngSubmit)="userLogin()" class="p-3 w-100 rounded shadow-lg ">
                <h2 class="fs-2 text-center my-3">
                  <i class="fa-solid fa-kitchen-set me-2"> </i> CookPedia
                </h2>

                <div class="mb-3">
                    <input type="text" name="email" formControlName="email" placeholder="Email" class="form-control">
                    @if(loginForm.get('email')?.errors && loginForm.get('email')?.touched){
                        <span class="text-danger">*Email must not be blank</span>
                    }
                </div>
                <div class="mb-3">
                    <input type="text" name="password" formControlName="password" placeholder="Password" class="form-control">
                    @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched){
                        <span class="text-danger">*password must not be blank</span>
                    }
                </div>
                <div class="mb-3 mt-5">
                    <button type="submit" class="btn btn-success w-100">Login</button>
                </div>
                <div class="mb-3">
                    <p>Are you a new  User? <a routerLink="/register" class="text-success">Register</a></p>
                </div>

            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
