<div class="w-100 bg-success text-light d-flex align-items-center flex-column p-3 pt-0" style="height:90vh;">
    <div class="mt-0">
        <h4 routerLink="/admin-home" class="mt-4">
            <i class="fa-solid fa-bars me-3"></i>
            Dashboard
        </h4>
        <h4 routerLink="/admin-recipes" class="mt-4">
            <i class="fa-solid fa-bowl-rice me-3"></i>Recipes</h4>
        <h4 routerLink="/admin-users" class="mt-4">
            <i class="fa-solid fa-users me-3"></i>
            Users
        </h4>
        <h4 routerLink="/admin-downloads" class="mt-4">
            <i class="fa-solid fa-download me-3"></i>
            Downloads
        </h4>
        <h4 routerLink="/admin-requests" class="mt-4">
            <i class="fa-solid fa-message me-3"></i>
            Requests
        </h4>
    </div>
</div>
