<app-header></app-header>
<div class="container p-5">
    <div class="row">
        <div class="col-md-6">
            <a routerLink="/all-recipes">Back to all Recipes</a>
            <img class="mt-5 w-100"
                [src]="recipeDetails.image"
                alt="no img">
            <div class="d-flex justify-content-between align-items-center mt-4">
                <button type="button" (click)="addDownloadRecipe()" class="btn btn-success text-light">Download Recipe</button>
                <button type="button" (click)="addSaveRecipe()" class="btn btn-primary text-light">Save Recipe</button>
            </div>
        </div>

        <div class="col-md-6 ">
            <h1>{{ recipeDetails.name }}</h1>
            <div class="d-flex justify-content-around align-items-center mt-5">
                <h6>Cuisine: {{ recipeDetails.cuisine }}</h6>
                <h6>Serving: {{ recipeDetails.servings }} </h6>
                <h6>Mode of cooking: {{ recipeDetails.difficulty }}</h6>
            </div>

            <div class="d-flex justify-content-evenly align-items-center my-3">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <h2><i class="fa-solid fa-clock-rotate-left"></i></h2>
                    <p>Preperation Time: {{ recipeDetails.prepTimeMinutes }}</p>
                    <h5><span class="text-danger">5</span> minutes</h5>
                </div>

                <div class="d-flex flex-column align-items-center justify-content-center">
                    <h2><i class="fa-solid fa-bowl-rice"></i></h2>
                    <p>Cooking Time:</p>
                    <h5><span class="text-danger"> {{ recipeDetails.cookTimeMinutes }} </span> minutes</h5>
                </div>

                <div class="d-flex flex-column align-items-center justify-content-center">
                    <h2><i class="fa-solid fa-utensils"></i></h2>
                    <p>Calories per Serving:</p>
                    <h5><span class="text-danger"> {{ recipeDetails.caloriesPerServing }} </span> Kcal</h5>
                </div>
            </div>

            <div class="mb-5 mt-5">
                <h2>Ingredients Needed</h2>
                <ol>
                    @if(ingredients.length){
                        @for(item of ingredients;track $index){
                            <li>{{ item }}</li>
                        }
                   }@else{
                     <p>Loading..</p>
                   }
                </ol>
            </div>

            <div>
                <h2>Cooking Instruction</h2>
                <ol>
                    @for(item of instructions;track $index){
                        <li>{{ item }}</li>
                    }
                </ol>
            </div>

        </div>
    </div>
    <div class="container mt-5">
        <div class="row " >
            <!-- col-md-6 -->
            <h4>Related Recipe</h4>
            @for(item of allRelatedRecipes; track $index){
                <div class="col-md-6">
                    <div class="w-100">
                    <img class="w-100 "
                        [src]="allRelatedRecipes.image"
                        [alt]="allRelatedRecipes.name" style="height: 300px;">
                        <p>{{ allRelatedRecipes.name }}</p>
                    </div>
                </div>
            }
        @if(allRelatedRecipes.length ==1){

        }
        <!-- <div class="mt-2 d-flex mt-3">

                <div class="ms-3 w-100">
                    <img class="w-100 "
                        src="https://thegreencreator.com/wp-content/uploads/VEGAN-Mango-Lassi-Smoothie-5-ingredients-delicious-easy-mango-smoothie-plantbased-glutenfree-recipe-thegreencreator-1.jpg"
                        alt="no img" style="height: 300px;">
                    <p>Mango Lassi</p>
                </div>

                <img src="" alt="">
            </div> -->
        </div>
        <div class="col-md-6"></div>

    </div>
</div>